<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form id="registrationForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Register</button>
    </form>
    <div id="registrationResult"></div>

    <p>Already registered? <a href="/login">Log in here</a>.</p>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: username, password: password, port : 65432 }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    document.getElementById('registrationResult').textContent = data.message;
                    window.location.href = '/login';
                } else if (data.error) {
                    document.getElementById('registrationResult').textContent = data.error;
                }
            })
            .catch((error) => {
                document.getElementById('registrationResult').textContent = 'Registration failed due to a network error.';
            });
        });
    </script>
</body>
</html>
